# Xcode
DerivedData/
build/
*.xcworkspace
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcscmblueprint
*.xcuserstate

# Swift Package Manager
.build/
Packages/

# Generated binary files
*.app
*.ipa
*.dSYM.zip
*.dSYM

# Temporary files
*.moved-aside
*.swp
*.xcuserdatad
.idea/
*.DS_Store
*.lock
*.lockfile
__MACOSX/

# Logs
*.log
*.tmp
